<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{page.title}} &ndash; Euclidius</title>
  <link rel="stylesheet" type="text/css" href="/load?file=euclidius/styles/main.css" />
</head>
<body>
  <div class="container">
    <div class="header-container">
      <header>

      </header>
    </div>

    <div class="main-container">
      <main>
        Hello there!
      </main>
    </div>

    <div class="footer-container">
      <footer>

      </footer>
    </div>
  </div>
</body>
</html>